#Attribution: altered version of forked version from Prof. Tuck's repository.
server {
	listen 80;
	listen [::]:80;

	server_name memory.flashover.space;

	location / {
		proxy_pass http://localhost:5100;
		#try_files $uri $uri/ =404;
	}
}
